.nav-container{
    backdrop-filter: none;
}
hr{
    background-color: #FFFFFF;
    height: 2px;
    width: 60rem;
}
.story hr{
    margin-bottom: 2rem;
    height: 0.5rem;
    width: 10rem;
    background-color: var(--primary-color);
    border: none;
}
h3{
    text-transform:capitalize;
    font-size: 7rem;
    letter-spacing: 1rem;
}
.text h4, .hire h4{
    font-size: 6rem;
    color: black;
    text-shadow: none;
    letter-spacing: 0.5rem;
}
h5{
    font-size: 3.5rem;
    font-family:   'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    letter-spacing: 0.5rem;
    font-weight: normal;
}
p{
    font-size: 2rem;
}
.para-1 p{
    font-size: 2.3rem;
    max-width: 90rem;
    text-align: center;
letter-spacing: 0.2rem;
line-height: 4rem;
padding: 4rem;
box-shadow: var(--primary-shadow);
}
.para-2 p{
    font-family: teko, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
    box-shadow: var(--primary-shadow);
    padding: 4rem;
    font-size: 3rem;
    max-width: 80rem;
    text-align: center;
letter-spacing: 0.5rem;
line-height: 4rem;

}

.about-us-overview{
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-text{
    background-color: #FFF4F7;
    width: 80vw;
    height: 20rem;
    display: flex;
    flex-direction: row;
    
}
.text{
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.image{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.image img{
    object-position: top;
    object-fit: cover;
    height: 100%;
    width: 40rem;
    border-radius: 2rem;
}

.story{
    padding: 5rem;
    margin: 8rem;
    box-shadow: var(--primary-shadow);
}
.hire{
    margin: auto;
    padding: 5rem;
    box-shadow: var(--primary-shadow);
    max-width: 100rem;
    margin-bottom: 5rem;
}
.hire h4{
    color: white;
}

@media (max-width: 900px) {
    .image{
        display: none;
    }
    section{
        margin: 3rem;
    }
    .story{
        margin: 3rem;
    }
    .hire{
        margin: 3rem;
    }
    hr{
        width: 20rem;
    }
    .text h4{
        font-size: 3rem;
    }
    h3{
        font-size: 5rem;
    }
}