* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ffb92f;
}

.header {
  background-image: url("./Home-cakes/heroImg.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo img {
  width: 10rem;
  margin: 3rem;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.navbar-links ul li {
  font-size: var(--small-font);
  padding-right: 4rem;
  position: relative;
}
.navbar-links ul li a {
  transition: all 0.3s ease-in-out;
  display: block;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  letter-spacing: 0rem;
  color: white;
  -webkit-transition: letter-spacing 0.3s linear;
  -moz-transition: letter-spacing 0.3s linear;
  -ms-transition: letter-spacing 0.3s linear;
  -o-transition: letter-spacing 0.3s linear;
  transition: letter-spacing 0.3s linear;
}
.navbar-links ul li a:hover {
  letter-spacing: 0.4rem;
  color: var(--primary-color);
}

#menuToggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#menuToggle input {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  height: 0.3rem;
  width: 100%;
  background-color: white;
  border-radius: 10rem;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: var(--primary-color);
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: var(--primary-color);
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: var(--primary-color);
  transform: rotate(45deg);
  opacity: 0;
}

.text-box {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h2 {
  font-size: 55px;
  color: #ffb92f;
  height: 120.72px;
  letter-spacing: 0.02em;
  line-height: 160px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10%;
}

.text-box h3 {
  margin: 0px 0 40px;
  margin-left: 120px;
  font-size: 18px;
  color: #ffb92f;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 120;
  letter-spacing: 00.04em;
  padding-top: 1.4%;
}

@media (max-width: 950px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #menuToggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.story-col1 .hero-btn1 {
  background-color: #151c22;
  border: 1.5px solid #ffb92f;
  font-size: larger;
  color: #ffb92f;
  padding: 5px 5px;
  font-size: 18px;
  margin-right: 68%;
}

.story {
  width: 100%;
  margin: auto;
  left: 0px;
  padding-top: 100px;
  position: relative;
}

.story h1 {
  font-size: 36px;
  font-weight: 550;
  color: #ffb92f;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 00.03em;
  font-family: Arial, Helvetica, sans-serif;
}

.story h2 {
  font-size: 36x;
  font-weight: 500;
  color: #dbd8d1;
  margin-right: 150px;
  text-align: left;
  letter-spacing: 0.03em;
  font-family: Arial, Helvetica, sans-serif;
}

.story p {
  color: rgb(241, 236, 236);
  font-size: 15.2px;
  font-weight: 200px;
  line-height: 22px;
  padding: 8px;
  left: auto;
  width: 350px;
  letter-spacing: 0.04em;
  text-align: left;
}

.story-col1 p {
  align-self: start;
}
.story-col2 img {
  width: 100%;
  padding-top: 6%;
}

/* Contact */

.Contact {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

.row {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  color: #ffb92f;
}
p {
  color: rgb(170, 162, 162);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.Contact-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 510px;
}

i {
  color: #ffb92f;
  padding: 8%;
  padding-bottom: 8%;
}

.fa {
  font-size: 48px;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: #ffb92f;
}
/* .Contact-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0, 0.2);
} */

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Menu */
.Menu {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.Menu-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: auto;
}

.Menu-col img {
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 36%;
  width: 82.2%;
  margin-bottom: 0%;
}
.Menu h2 {
  text-align: center;
  font-weight: 300;
  margin: 10px 0;
  color: #dbd8d1;
}
.Menu-col h3 {
  margin-top: 5%;
  padding-top: 4%;
}

.Menu-col .layer {
  background-color: #f8f0f7;
  margin-right: 50px;
  height: auto;
  margin-top: -5%;
}
.Menu-col p {
  color: #151c22;
}
.Menu-col h3 {
  color: #151c22;
}

.container {
  box-sizing: border-box;
  width: 70%;
  height: 270px;
  border: 1px solid #ffb92f;
  margin-left: 13.9%;
}

.container h3 {
  color: #dbd8d1;
  margin-right: 65%;
  padding-top: 0.9%;
}

.container h1 {
  color: #ffb92f;
  font-size: 200%;
  margin-left: 5%;
  padding-top: 0.9%;
}

.container p {
  font-size: 120%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.Review {
  width: 100%;
}
.footer {
  padding: 40px 0;
  background-color: #131d25;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #131d25;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0.8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

.footer .subscribe {
  margin-left: 980px;
  position: absolute;
  top: 50px;
  color: #fff;
}

.footer .box {
  position: absolute;
  width: 325px;
  height: 51px;
  left: 746px;
  top: 4465px;

  background: rgba(253, 253, 253, 0.8);
  border: 1px solid #070707;
  box-sizing: border-box;
  border-radius: 80px;
}

.subscribe {
  margin-top: 200%;
}
