@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Roboto&family=Teko:wght@300&display=swap");

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --small-font: 2rem;
  --normal-font: 6rem;
  --Large-font: 11rem;
  --bg-color: #151c22;
  --primary-color: #fba800;
  --secondary-color: #2b2b2b;
  --primary-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  --secondary-shadow: 0 3px 10px #08fdd8c1;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

a {
  text-decoration: none;
  font-family: var(--font-family);
}

h1 {
  color: var(--primary-color);
  font-size: var(--Large-font);
  letter-spacing: 3px;
  font-weight: 500;
  text-shadow: 0 0 3px #1d2528;
}
h2 {
  margin: 1rem 0rem;
  font-family: "Niconne", cursive;
  font-weight: lighter;
  color: var(--primary-color);
  font-size: var(--normal-font);
}
h3 {
  margin: 0rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Teko", sans-serif;
  text-shadow: 0 0 2px #320302f5;
}
h4 {
  color: white;
  font-family: "Teko", sans-serif;
  text-shadow: 0 0 2px #320302f5;
  font-size: 3rem;
  font-weight: 200;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
}

.tag-line {
  font-weight: bold;
  color: white;
  font-size: var(--small-font);
  text-shadow: 0 0 2px #320302f5;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
}

ol,
ul {
  list-style: none;
}

section {
  margin-bottom: 5rem;
}

.btn {
  color: var(--bg-color);
  margin: 3rem 1rem;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 0px;
  padding: 1rem 2rem;
  display: inline-block;
  font-family: roboto;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hero {
  z-index: 1;
  background-image: url("./images/heroImg.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Navbar */

.logo img {
  height: 15rem;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  /* position: sticky; */
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: var(--primary-shadow); */
}

.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(0px) saturate(192%);
  -webkit-backdrop-filter: blur(0px) saturate(192%);
  background-color: rgba(255, 185, 47, 0);
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.navbar-links ul li {
  font-size: var(--small-font);
  padding-right: 4rem;
  position: relative;
}
.navbar-links ul li a {
  transition: all 0.3s ease-in-out;
  display: block;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  letter-spacing: 0rem;
  color: white;
  -webkit-transition: letter-spacing 0.3s linear;
  -moz-transition: letter-spacing 0.3s linear;
  -ms-transition: letter-spacing 0.3s linear;
  -o-transition: letter-spacing 0.3s linear;
  transition: letter-spacing 0.3s linear;
}
.navbar-links ul li a:hover {
  letter-spacing: 0.4rem;
  color: var(--primary-color);
}

.navbar-links ul li a {
  display: inline-block;
  position: relative;
  color: white;
}

.navbar-links ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#menuToggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#menuToggle input {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide input */
  z-index: 1; /* top of the menu */
}

#menuToggle span {
  height: 0.3rem;
  width: 100%;
  background-color: white;
  border-radius: 10rem;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}

#span1 {
  transform-origin: 4px 0px;
}

#span3 {
  transform-origin: bottom right;
}

#menuToggle input:checked ~ #span1 {
  background-color: var(--primary-color);
  transform: rotate(45deg) translate(8px);
}
#menuToggle input:checked ~ #span2 {
  background-color: var(--primary-color);
  transform: rotate(495deg) translate(4px);
}
#menuToggle input:checked ~ #span3 {
  background-color: var(--primary-color);
  transform: rotate(45deg);
  opacity: 0;
}

.welcome-text {
  position: absolute;
  right: 12%;
  top: 30%;
  text-align: left;
  font-size: var(--Large-font);
}

.welcome-text h1 {
  font-family: "Niconne", cursive;
}

.Main-btn {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.Main-btn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.Main-btn:focus {
  outline: none;
}

.colors {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #b32f00,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(61, 59, 1, 0.53);
}

/* Story */

.discover {
  margin: 5rem 16%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: normal;
}

.story-text {
  display: block;
  flex: 1.5;
}

.story-img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.story-img img {
  border-radius: 10px;
  height: 25rem;
}

/* contact-info */

.contact-info-container {
  margin: 6rem 15rem;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10rem;
  border-top: 2px solid #747474;
  border-bottom: 2px solid #747474;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contact-info img {
  height: 7rem;
  fill: var(--primary-color);
}
.contact-info h3 {
  font-size: 3rem;
  text-align: center;
}
.contact-info p {
  color: #747474;
  text-align: center;
}

/* Products */

.product-container {
  position: relative;
  padding: 0rem 6rem;
}
.product-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corousal {
  position: relative;
  display: flex;
  justify-content: left;
  overflow-x: scroll;
  margin: 1rem auto;
  width: 90%;
  cursor: grab;
  transform: scale(0.95);
  will-change: transform;
  transition: all 0.2s;
  user-select: none;
}
.corousal.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
.corousal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  height: 50%;
}

.corousal::-webkit-scrollbar {
  border-radius: 10px;
  height: 1rem;
  width: 50%;
  background-color: #f5f5f5;
}

.corousal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--primary-color);
}

.product {
  position: relative;
  left: 0;
  margin: 5rem;
  min-width: 30rem;
  height: 47rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 10px -5px rgb(52, 51, 51);
}
.product:last-child {
  margin-right: 0px;
}
.product img {
  object-fit: cover;
  max-width: 100%;
  height: 45%;
  vertical-align: top;
}
.product-text {
  padding: 1rem 2rem 0rem 2rem;
}
.product p {
  margin: 0 0 1.5rem 0;
  color: black;
}
.product__image {
  border-top-right-radius: 0.8rem;
  padding: 0px;
  width: 100%;
  /* height: 50%; */
}
.product hr {
  border: 0;
  height: 3px;
  width: 50%;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}
.product__title {
  font-family: teko;
  font-size: 3rem;
  color: #000;
  text-shadow: none;
  font-weight: bold;
}
.product__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: -30px;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
}
.product btn {
  margin: 0px;
}
.product-btn {
  position: absolute;
  bottom: -4.6rem;
  right: 3rem;
}

/* Review */

.review-container {
  position: relative;
  border: 2px solid white;
  margin: 15rem 15rem 8rem 15rem;
  padding: 4rem 8rem;
}
.review {
  padding: 0rem 8rem 2rem 8rem;
}
.review-start {
  height: 8rem;
}
.review-end {
  height: 4rem;
  position: absolute;
  right: 20%;
  bottom: 8%;
}

/* footer */

.footer-container {
  /* border: 1px solid white; */
  position: relative;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  margin: 1rem 20rem;
}

.logo-social-media {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  height: 15rem;
}

.social-media-icons-footer {
  color: white;
  font: teko;
  font-size: 5rem;
}
.newsLetter {
  flex: 1;
  padding: 3rem;
}
.newsLetter input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  height: 3rem;
  width: 20rem;
}
.social-media-icons-footer img {
  height: 2.5rem;
}

.pages-link {
  flex: 1;
  padding: 3rem 6rem;
}
.pages-link p {
  transition: 0.3s;
  cursor: pointer;
}
.pages-link p:hover {
  letter-spacing: 0.4rem;
  color: var(--primary-color);
}
.pages-link button{
  align-items: flex-end;
}

#myBtn {
  background-color: rgba(245, 222, 179, 0.252);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 5rem;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99;
}
#myBtn:hover{
  animation: upDown 2s ease  infinite;
}

@keyframes upDown{
  0%{bottom: 20px;}
  50%{bottom: 50px;}
  100%{bottom: 20px;}

}
#myBtn:hover{

}

@media (max-width: 1200px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
  .tag-line {
    visibility: hidden;
  }
  .welcome-text {
    position: static;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .discover {
    flex-direction: column;
  }
  .story-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #menuToggle {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .review-container {
    margin: 0rem;
    padding: 1rem;
  }
  .review {
    padding: 1rem;
  }

  .footer-container {
    margin: 2rem;
  }
  .review-end {
    display: none;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-info-container {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #myBtn{
    visibility: hidden;
  }

  .review-container{
    margin: 2rem;
  }
}
