h2 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--primary-color);
  font-size: 6rem;
}

h3 {
  margin: 0rem;
  color: white;
  font-weight: 200;
  font-size: 4rem;
  font-family: "Teko", sans-serif;
}

.navbar .nav-container {
  backdrop-filter: blur(3px) saturate(157%);
  -webkit-backdrop-filter: blur(3px) saturate(157%);
  border-radius: 0px 0px 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.header-container {
  height: auto;
  width: 100vw;
}

.header {
  top: 0;
}

.header-img {
  height: 40rem;
  width: 100vw;
  z-index: -1;
  /* filter: opacity(50%) blur(0px); */
  object-fit: cover;
  position: absolute;
}

.tag-line {
  margin: 3rem;
}

label {
  position: absolute;
  top: 28rem;
  right: 5rem;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("../svgs/search_black_24dp.svg") center / contain no-repeat;
  background-size: 1.5rem;

}

input {
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
}

/* product */

.products-container {
  height: 245rem;
  position: relative;
}

.product {
  position: absolute;
  margin: 10rem;
  width: 75rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 10px -5px rgb(52, 51, 51);
}

.product__image {
  border-top-right-radius: 0.8rem;
  padding: 0px;
  width: 45%;
  height: 100%;
}

.product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.product-text {
  position: absolute;
  left: 45%;
  top: 0;
  height: 100%;
  padding: 1rem 2rem 0rem 2rem;
}

.product p {
  margin: 0 0 1.5rem 0;
  color: black;
}

.product hr {
  border: 0;
  height: 3px;
  width: 50%;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

.product__title {
  font-family: teko;
  font-size: 3rem;
  color: #000;
  text-shadow: none;
  font-weight: bold;
}

.product__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: -30px;
  width: 8rem;
  height: 8rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
}

.product btn {
  margin: 0px;
}

.product-btn {
  position: absolute;
  bottom: -4.6rem;
  right: 3rem;
}

.product-2 {
  margin: 5rem 10rem;
  right: 0rem;
  top: 45rem;
}

.product-3 {
  margin: 5rem 10rem;
  left: 0rem;
  top: 85rem;
}

.product-4 {
  margin: 5rem 10rem;
  right: 0rem;
  top: 125rem;
}

.product-5 {
  margin: 5rem 10rem;
  left: 0rem;
  top: 165rem;
}

.product-6 {
  margin: 5rem 10rem;
  right: 0rem;
  top: 205rem;
}


.bg-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  border-radius: 50%;
  color: white;
}

.bg-circle p {
  font-size: var(--small-font);
  font-weight: normal;
  text-align: center;
}

.firstCircle {
  background-color: hsla(136, 54%, 43%, 0.1);
  height: 200px;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 95rem;
}

.secondCircle {
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background-color: hsla(0, 87%, 79%, 0.1);
  position: absolute;
  left: 20rem;
  top: 60rem;
}

.thirdCircle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: hsla(238, 100%, 85%, 0.1);
  position: absolute;
  top: 100rem;
  right: 10rem;
}

.fourthCircle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 29%, 0.1);
  position: absolute;
  top: 140rem;
  left: 29rem;
}

.fifthCircle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: hsla(0, 88%, 58%, 0.05);
  position: absolute;
  top: 189rem;
  left: 91rem;
}

.sixthCircle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: hsla(40, 89%, 89%,0.1);
  position: absolute;
  top: 220rem;
  left: 40rem;
}

/* footer */
.footer {
  margin: 5rem;
  position: relative;
  box-shadow: var(--primary-shadow) ;
}

.footer-tag-line{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 10rem;
  letter-spacing: 0.3rem;
}

.footer img {
  z-index: -1;
height: 50rem;
object-fit: cover;
  width: 100%;
}

.footer-tag-line .btn{
  right: auto;
  left: 3rem;
}


@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }

  .bg-circle {
    display: none;
  }
  .footer-tag-line{
    top: 2rem;
  }

}

@media (max-width: 1000px) {
  .tag-line {
    visibility: hidden;
  }
  .footer  {
    display: none;
  }

}

@media (max-width: 850px) {
  html {
    font-size: 7px;
  }

  .products-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product {
    position: relative;
    top: 0;
    bottom: 0;
    margin: 5rem;
    width: 40rem;
    height: 60rem;
  }

  .product img {
    width: 100%;
    height: 45%;
  }

  .product-text {
    top: 45%;
    left: 0%;
    height: 55%;
  }

  .product__image {
    border-top-right-radius: 0.8rem;
    padding: 0px;
    width: 100%;
  }
  .product__price{
    font-weight: normal;
  }

  .footer-tag-line{
    display: none;
  }
}